</main>

<aside class="sidebar card mt-3">
  Ini adalah sidebar
</aside>
</div>

<div class="footer card">
  Copyright &copy; all rights served.
</div>

<div class="share-buttons">
  <div class="buttons">
    <a href="https://instagram.com/rllyhz"></a>
    <a href="https://facebook.com/rllyhz"></a>
    <a href="https://twitter.com/rllyhz"></a>
  </div>
</div>

<div id="nav-arrow-up" class="nav-arrow-up">
  <div class="arrow-up"></div>
</div>

<script src="/js/prism-tomorrow-night-theme.js"></script>
<script src="/js/app.js"></script>
<script src="/js/articles/index.js"></script>
</body>

</html>